@page
@model OdeToFood.Pages.Restaurants.ListModel
@{
}

<h1>Restaurants</h1>
<form method="get">
    <div class="input-group">
        <input type="text" class="form-control" asp-for="SearchTerm">
        <div class="input-group-append">
            <button type="submit" class="input-group-text">Search</button>
        </div>
    </div>
</form>

<table class="table">
    @foreach(var restuarant in Model.Restaurants)
    {
    <tr>
        <td>@restuarant.Name</td>
        <td>@restuarant.Location</td>
        <td>@restuarant.Cuisine</td>
        <td>
            <a class="btn btn-lg" asp-page="./Details" asp-route-restaurantId="@restuarant.Id">
                See More
            </a>
            <a class="btn btn-lg" asp-page="./Edit" asp-route-restaurantId="@restuarant.Id">
                Edit
            </a>
        </td>
    </tr>
    }
</table>

<div>@Model.Message</div>